h1 {
    padding-top: 2%;
    padding-left: 5%;
}

h3 {
    padding: 0% 2% 1% 0%;
}

h6 {
    padding: 0% 0% 2% 0%;
}
.btn-group {
    padding-left: 5%;
    padding-top: 2%;

}

li{
    color: black;
    display: block;
    text-align: center;
}


.dropdown-menu{
    background-color: black;
}

.item{
    text-decoration: none;
    text-underline: none;
    color: white;
    margin: 20px;
}


main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 20%;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
    text-align: center;
}

.page-content{
    padding: 10% 5% 5% 10%;
}

.sources{
    padding: 0% 10% 10% 10%;
}