
.page-title{
    margin: auto;
    text-align: center;
    padding-bottom: 2%;
}


.btn-group {
    padding-left: 5%;
    padding-top: 2%;

}

.item{
    text-decoration: none;
    color: white;
    margin: 20px;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
    text-align: center;
}

.content{
    display: flex; 
    margin: auto; 
    text-align: center; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    font-size: 72px; 
    font-weight: bolder; 
    padding-top: 10%;
}

.page-content{
    background-color: white;
    padding: 5% 10% 5% 10%;
}

.sources{
    padding: 0% 10% 10% 10%;
    background-color: white;
}

footer{
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    font-size: 11px; 
    font-weight: bold;
    padding-top: 5%; 
    padding-left: auto;
}




/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 17%
}

.luxurious-roman-regular {
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}
